@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* styles Generales */
.container-form {
  animation: aparecer 0.5s ease forwards;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: var(--color-white);
  z-index: 3 !important;
}
.form-login-register h1 {
  font-weight: bold;
  margin: 5vh 0;
  margin-bottom: 1vh;
  font-size: 4vh;
}
.form-login-register {
  background-color: black;
  min-width: 30%;
  padding: 3vh;
  border-radius: 30px;
}
.btn-form {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  padding: 1.5vh 3vh;
  border-radius: 5vh;
  box-shadow: var(--box-shadow-btn);
  border: none;
  text-decoration: none;
  box-shadow: var(--box-shadow-btn);
  font-size: 2.3vh;
  background-color: var(--color-green);
  transition: box-shadow 0.3s;
  width: max-content;
  margin: 0rem auto;
}
.btn-form:hover {
  box-shadow: var(--box-shadow-btn-hover);
}
.texto-form {
  width: 95%;
  margin: 0.5rem auto;
  margin-bottom: 0;
  text-align: left;
  padding-left: 10px;
  font-size: 2.3vh;
}
.texto-form p {
  margin: 0.5rem 0;
}
.texto-form a {
  text-decoration: none;
}

/* inputs */
.input {
  position: relative;
  padding: 0.5vh;
  width: 95%;
  margin: auto;
}
.input input {
  border-radius: 50px;
  letter-spacing: 1px;
  font-size: 2.2vh;
  padding: 1.3vh 0;
  padding-left: 5vh;
  user-select: none;
}
.icon-input {
  font-size: 2vh;
  position: absolute;
  left: 2.5vh;
  top: 50%;
  transform: translateY(-50%);
  color: #5f5f5f;
}
.icon-mostar-pass {
  position: absolute;
  top: 50%;
  right: 3vh;
  width: 2.5vh;
  transform: translateY(-50%);
  cursor: pointer;
}
.icon-mostar-pass:hover {
  color: #aaa;
}

/* register */
.terminos-condiciones label {
  padding-left: 10px;
}
.terminos-condiciones input[type="checkbox"] {
  transform: scale(1.4);
  cursor: pointer;
}
/* responsive */
@media (max-width: 1400px) {
  .terminos-condiciones input[type="checkbox"] {
    transform: scale(1);
  }
}
@media (max-width: 800px) {
  .form-login-register {
    width: 95%;
  }
  .btn-form {
    font-size: 2vh;
  }
  .texto-form {
    font-size: 2vh;
  }
}
