/* estilos generales */
.container-herramientas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  width: 100%;
}
.content {
  margin-top: 17vh;
  margin-bottom: 5vh;
  width: 100%;
}
.content h1 {
  color: var(--color-white);
  font-weight: bold;
  font-size: 5vh;
  margin-bottom: 5vh;
}

/* guias */
.guias {
  width: 85%;
  margin: auto;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 19vw);
  gap: 2vh;
  place-content: center;
  place-items: center;
}
.guia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 3vh;
  background-color: #ffffff;
  padding: 2vh;
  height: 100%;
  width: 95%;
}
.guia button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgb(70, 239, 121) 12.61%, rgb(25, 211, 43) 112.61%);
  box-shadow: rgba(70, 239, 121, 0.6) 0px 0px 15px;
  border-radius: 5vh;
  width: 90%;
  margin: 1vh;
  padding: 2vh;
  font-weight: bold;
  border: none;
  text-decoration: none;
  font-size: 2.3vh;

  transition: box-shadow 0.3s;
}
.guia button {
  box-shadow: var(--box-shadow-btn-hover);
}
.guia img {
  width: 18vh;
  margin: 3vh auto;
}
.guia p {
  display: grid;
  place-content: center;
  place-items: center;
  height: 4vh;
  font-size: 2.5vh;
}

/* bonos */
/* herramientas */
.container-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25vw);
  gap: 5vh;
  margin: auto;
  place-content: center;
  place-items: center;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 3vh;
  background-color: #ffffff;
  padding-bottom: 3vh;
  height: 100%;
  width: 95%;
}
.box img {
  width: 28vh;
}
.box h3 {
  display: grid;
  place-content: center;
  place-items: center;
  height: 10vh;
  padding: 1vh;
  font-size: 3.5vh;
}

.box a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  padding: 1.5vh 3vh;
  border-radius: 5vh;
  box-shadow: var(--box-shadow-btn);
  border: none;
  text-decoration: none;
  font-size: 2.5vh;
  background-color: var(--color-green);
  transition: box-shadow 0.3s;
  width: max-content;
  margin: 0rem auto;
}
.box a:hover {
  opacity: 0.9;
  box-shadow: var(--box-shadow-btn);
}
/* premium */
/* perfil */

/* responsive */
@media (max-width: 1250px) {
  .guias {
    width: 100%;
    grid-template-columns: repeat(auto-fill, 300px);
  }
  .container-box {
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 5vh;
  }
}
@media (max-width: 600px) {
  .content {
    margin-top: 15vh;
    margin-bottom: 10vh;
  }
  .content h1 {
    font-size: 4vh;
  }
  /* guias */
  .guias {
    width: 100%;
    grid-template-columns: repeat(auto-fill, 90%);
  }
  /* herramientas */
  .container-box {
    grid-template-columns: repeat(auto-fill, 90%);
  }
}
