.container-herramientas.calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 1rem;
  border-radius: 2vh;
  justify-content: center;
  background-color: black;
}
