.filters {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
  margin-bottom: 2vh;
}
.pagination button {
  margin: 0 1vh;
}
.pagination span {
  word-spacing: 1vh;
}
.clear-filters {
  margin: 1vh;
}
.pagination button,
.clear-filters button {
  background-color: var(--color-green);
  box-shadow: var(--box-shadow-btn);
  border-radius: 1.5vh;
  font-weight: bold;
  padding: 1vh 1.5vh;
  border: none;
}
.lista-datos {
  color: rgb(255, 255, 255);
}
.container-dato {
  border: 0.2vh solid white;
}
.lista-datos table {
  margin: auto;
  width: 100%;
}
.lista-datos table thead tr {
  font-size: 2.5vh;
}
.container-filtres {
  color: white;
  display: flex;
  margin: 2vh;
  gap: 5vh;
}
.container-filtres label {
  font-weight: bold;
}
.container-filtres button {
  background-color: var(--color-green);
  box-shadow: var(--box-shadow-btn);
  border-radius: 1.5vh;
  font-weight: bold;
  padding: 1vh 1.5vh;
  border: none;
  color: black;
}
.container-filtres button:hover {
  background-color: black;
}
